<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<link rel="stylesheet" href="css/estilos.css" />
</head>
<body>
	<div class="container">
		<br>
		<p class="text-center">BET365</p>
		<hr>


		<div class="card">
			<table class="table table-hover shopping-cart-wrap">
				<thead class="text-muted">
					<tr>
						<th scope="col">Descripcion</th>
						<th scope="col" width="120">Mercado</th>
						<th scope="col" width="120">Cuota</th>
						<th scope="col" width="200" class="text-right">Action</th>
					</tr>
				</thead>
				<th:block th:each="apuesta:${apuestas}">
					<tbody>
						<tr>
							<td>

								<figure class="media">
									<figcaption class="media-body">
										<h6 class="title text-truncate"
											th:text="${apuesta.descripcion}"></h6>
										<dl class="param param-inline small">
											<dt>Stake:</dt>
											<dd>2.0</dd>
										</dl>
									</figcaption>
								</figure>

							</td>

							<td th:text="${apuesta.mercado.nombre}"></td>

							<td>
								<div class="price-wrap">
									<var class="price" th:text="${apuesta.cuota}"></var>
								</div>
							</td>
							<td class="text-right"><a href=""
								class="btn btn-outline-danger"> × Borrar</a></td>
						</tr>
					</tbody>
				</th:block>
			</table>
		</div>


		<a href="agregar" class="btn btn-succes" type="submit">AGREGAR</a>
	</div>
</body>
</html>